{% extends "settings.jinja2" %}
{% block settings %}
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="settings_plugin_ups_ha_url">Endereço do Home Assistant</label>
      <input type="text" class="form-control" id="settings_plugin_ups_ha_url" data-bind="value: settings.plugins.ups.ha_url">
    </div>
    <div class="form-group">
      <label for="settings_plugin_ups_token">Token de Acesso (Bearer)</label>
      <input type="text" class="form-control" id="settings_plugin_ups_token" data-bind="value: settings.plugins.ups.token">
    </div>
    <div class="form-group">
      <label for="settings_plugin_ups_entity_power">Entidade: UPS na Bateria</label>
      <input type="text" class="form-control" id="settings_plugin_ups_entity_power" data-bind="value: settings.plugins.ups.entity_power">
    </div>
    <div class="form-group">
      <label for="settings_plugin_ups_entity_critical">Entidade: Bateria Crítica</label>
      <input type="text" class="form-control" id="settings_plugin_ups_entity_critical" data-bind="value: settings.plugins.ups.entity_critical">
    </div>
    <div class="form-group">
      <label for="settings_plugin_ups_entity_shutdown">Entidade: Desligar UPS</label>
      <input type="text" class="form-control" id="settings_plugin_ups_entity_shutdown" data-bind="value: settings.plugins.ups.entity_shutdown">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" data-bind="checked: settings.plugins.ups.pause"> Pausar impressão automaticamente se a bateria estiver crítica
      </label>
    </div>
  </div>
</div>
{% endblock %}
