<form class="form-horizontal">
    <h4>Configuração do Home Assistant/ESPHome</h4>
    <div class="control-group">
        <label class="control-label">URL do Home Assistant</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.ups.ha_url">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">API Key do Home Assistant</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.ups.ha_token">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Entidade: UPS na Bateria</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.ups.entity_power">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Entidade: Bateria Crítica</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.ups.entity_critical">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Entidade: Desligar UPS</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.ups.entity_shutdown">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.ups.pause">
                Pausar impressão automaticamente se a bateria estiver crítica
            </label>
        </div>
    </div>
</form>